.component-contttact {
  display: flex;
  flex-direction: column;
}

.input-group{
  max-width: 600px;
  margin: 5px auto;
  padding: 5px;
  display: flex;
  flex-direction: column;
}

.input-group p,
.input-group label {
  font-weight: 300;
  font-size: .9rem;
}

.input-group.submit {
  flex-direction: row;
  justify-content: flex-end;
}

.input-group input,
.input-group textarea {
  padding: 8px;
  border-radius: 3px;
  font-size: 0.8rem;
  border: 1px solid #e8e8e8;
}

.input-group button[type="submit"] {
  max-height: 40px;
  max-width: 350px;
  padding: 5px;
  background-color: var(--color-primary-1);
  color: #fafafa;
  font-size: 1.1rem;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  margin: 0 0 0 auto;
}

.input-group.error input {
  border: 1px solid red;
}

.input-group .error-inline {
  font-weight: 300;
  font-size: .7rem;
  color: red;
  padding: 5px;
}
