/***
 * Resume
 ***/
.component-resume {
}

.resume-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.work.resume-container {
  display: flex;
  flex-direction: column;
}

.work-container {
  display: flex;
  flex-direction: row;
  margin: 8px 0px;
}

.work-container .work-icon {
  flex: 1;
  border-right: 2px solid var(--color-primary-1);
  margin-right: 10px;
}

.work-container .work-content {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  flex: 7;
  flex-direction: column;
  display: flex;
}
