/***
 * Resume
 ***/
.component-resume {
}

.resume-container {
  max-width: var(--page-max-width);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.work.resume-container,
.education.resume-container,
.project.resume-container {
  display: flex;
  flex-direction: column;
}

.work-container,
.project-container,
.education-container {
  display: flex;
  flex-direction: row;
  margin: 8px 0px;
}

.work-container .work-icon,
.education-container .education-icon,
.project-container .project-icon {
  flex: 1;
  margin-right: 10px;
}

.work-container .work-icon {
  border-right: 2px solid var(--color-primary-1);
}

.education-container .education-icon {
  border-right: 2px solid var(--color-primary-3);
}

.project-container .project-icon {
  border-right: 2px solid var(--color-primary-2);
}

.work-container .work-content,
.education-container .education-content,
.project-container .project-content {
  background-color: white;
  border: 1px solid #e8e8e8;
  border-radius: 5px;
  padding: 10px;
  flex: 7;
  flex-direction: column;
  display: flex;
}

.skills.resume-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0;
  flex-wrap: wrap;
}

.skill {
  padding: 5px;
  margin: 5px;
  background-color: white;
  border: 1px solid #e8e8e8;
  border-bottom: 2px solid var(--color-primary-1);
  border-radius: 5px;
  max-height: 30px;
}
